<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle=customTitle}}
<body>
    {{> siteHeader }}
    <section class="section">
        <div class="container">
            {{#if onePost}}
                <div class="box">
                    <h2>{{onePost.title}}</h2>
                    <p>
                        <span>{{onePost.from}} | </span>
                        <span class="text-gray">{{onePost.createdAtText}}</span>
                    </p>
                    <div>{{onePost.content}}</div>
                </div>
                <hr>
                <form action="/p/{{ onePost.id }}/comment" method="post">
                    <p>
                        <textarea name="content" placeholder="ความคิดเห็น" rows="3">{{values.content}}</textarea>
                    </p>
                    <p>
                        <input type="text" name="from" placeholder="จากใคร" value="{{values.from}}">
                    </p>
                    <p>
                        <input id="input-accepted" type="checkbox" name="accepted">
                        <label for="input-accepted">กดตรงนี้ด้วย</label>
                    </p>
                    <p>
                        <button class="button" type="submit">คอมเมนต์</button>
                    </p>
                    {{#if errorMessage}}
                        <p>
                            {{errorMessage}}
                        </p>
                    {{/if}}
                </form>
                <hr>
                {{#if postComments}}
                <h4>{{postComments.length}} คอมเมนต์</h4>
                {{else}}
                    <h4>ยังไม่มีคอมเมนต์</h4>
                {{/if}}

                {{#each postComments}}

                    <div class="box">
                        <p>
                            <span>{{this.from}} | </span>
                            <span class="text-gray">{{this.createdAtText}} | </span>
                        </p>
                        <div>{{this.content}}</div>
                    </div>

                {{/each}}

            {{else}}
                <p class="posterre">ไม่พบโพส</p>
            {{/if}}
        </div>
    </section>
    {{> siteFooter }}
    {{> siteScrollTop}}
    {{> siteScripts}}
</body>
</html>





